<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           UpgradeCode="D9A212EE-8A64-4AD0-9E12-81FF84B1B97E"
           Name="PowerShell Community Extensions 3.2.1" 
           Language="1033" 
           Version="3.2.1.0"
           Manufacturer="PowerShell Community Developers">
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" />

    <Icon Id="Pscx.ico" SourceFile="..\Pscx.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Pscx.ico" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="Pscx.cab" EmbedCab="yes" />

    <WixVariable Id="WixUILicenseRtf" Value="EULA.rtf" />
    <UIRef Id="WixUI_Minimal" />

    <Feature Id="ProductFeature" Title="Pscx Module" Level="1">
      <ComponentGroupRef Id="EnvironmentGroup"/>
      <ComponentGroupRef Id="ProductCoreComponents" />
      <ComponentGroupRef Id="ProductAppComponents" />
      <ComponentGroupRef Id="ProductFormatDataComponents" />
      <ComponentGroupRef Id="ProductCDModuleComponents"/>
      <ComponentGroupRef Id="ProductDirectoryServicesModuleComponents"/>
      <ComponentGroupRef Id="ProductFileSystemModuleComponents"/>
      <ComponentGroupRef Id="ProductGetHelpModuleComponents"/>
      <ComponentGroupRef Id="ProductNetModuleComponents"/>
      <ComponentGroupRef Id="ProductPromptModuleComponents"/>
      <ComponentGroupRef Id="ProductPromptThemesModuleComponents"/>
      <ComponentGroupRef Id="ProductTranscribeSessionModuleComponents"/>
      <ComponentGroupRef Id="ProductUtilityModuleComponents"/>
      <ComponentGroupRef Id="ProductVhdModuleComponents"/>
      <ComponentGroupRef Id="ProductWmiModuleComponents"/>
      <ComponentGroupRef Id="ProductTypeDataComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="PowerShell Community Extensions">
          <Directory Id="VERSION3ROOTMODULEFOLDER" Name="Pscx3">
            <Directory Id="ROOTMODULEFOLDER" Name="Pscx">
              <Directory Id="APPSFOLDER" Name="Apps"/>
              <Directory Id="FORMATDATAFOLDER" Name="FormatData"/>
              <Directory Id="MODULESFOLDER" Name="Modules">
                <Directory Id="CDMODULEFOLDER" Name="CD"/>
                <Directory Id="DIRECTORYSERVICESMODULEFOLDER" Name="DirectoryServices"/>
                <Directory Id="FILESYSTEMMODULEFOLDER" Name="FileSystem"/>
                <Directory Id="GETHELPMODULEFOLDER" Name="GetHelp"/>
                <Directory Id="NETMODULEFOLDER" Name="Net"/>
                <Directory Id="PROMPTMODULEFOLDER" Name="Prompt">
                  <Directory Id="PROMPTTHEMESMODULEFOLDER" Name="Themes"/>
                </Directory>
                <Directory Id="TRANSCRIBESESSIONMODULEFOLDER" Name="TranscribeSession"/>
                <Directory Id="UTILITYMODULEFOLDER" Name="Utility"/>
                <Directory Id="VHDMODULEFOLDER" Name="Vhd"/>
                <Directory Id="WMIMODULEFOLDER" Name="Wmi"/>
              </Directory>
              <Directory Id="TYPEDATAFOLDER" Name="TypeData"/>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="EnvironmentGroup" Directory="VERSION3ROOTMODULEFOLDER">
      <Component Id="Environment" Guid="5B37B597-6529-4396-9876-E6508E6D61B3" KeyPath="yes">
        <Environment Id="UpdatePSModulePath" Name="PSModulePath" Action="set" Permanent="no" Separator=";" System="yes" Part="first" Value="[VERSION3ROOTMODULEFOLDER]" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductCoreComponents" Directory="ROOTMODULEFOLDER">
      <Component Id="PscxCoreDllComp" Guid="49203155-6A40-4BD0-9F53-B5808CC46C78">
        <File Id="PscxCoreDLL" Name="Pscx.Core.dll" Source="..\Pscx.Core\bin\Release-Signed\Pscx.Core.dll" KeyPath="yes"/>
      </Component>
      <Component Id="PscxDllComp" Guid="84902C55-FF31-43B3-9F17-06FB9692DDC3">
        <File Id="PscxDLL" Name="Pscx.dll" Source="..\Pscx\bin\Release-Signed\Pscx.dll" KeyPath="yes"/>
      </Component>
      <Component Id="PscxPSD1Comp" Guid="C04066F7-4938-401E-A845-6825471853F7">
        <File Id="PscxPSD1" Name="Pscx.psd1" Source="..\Pscx\bin\Release-Signed\Pscx.psd1" KeyPath="yes"/>
      </Component>
      <Component Id="PscxPSM1Comp" Guid="E81E6AA3-C8E3-4F35-B8A6-E204366DB1A2">
        <File Id="PscxPSM1" Name="Pscx.psm1" Source="..\Pscx\bin\Release-Signed\Pscx.psm1" KeyPath="yes"/>
      </Component>
      <Component Id="SevenZDllComp" Guid="FA5B8F4E-4930-4CD3-A4F1-A105B3E38E8C">
        <File Id="SevenZDLL" Name="7z.dll" Source="..\Pscx\bin\Release-Signed\7z.dll" KeyPath="yes"/>
      </Component>
      <Component Id="SevenZ64DllComp" Guid="5D869C68-F5E2-4C43-BD43-47A0DB7E29F1">
        <File Id="SevenZ64DLL" Name="7z64.dll" Source="..\Pscx\bin\Release-Signed\7z64.dll" KeyPath="yes"/>
      </Component>
      <Component Id="SevenZipSharpDllComp" Guid="1E4E3CEF-F3B7-4525-B495-CC3C18F4A07A">
        <File Id="SevenZipSharpDLL" Name="SevenZipSharp.dll" Source="..\Pscx\bin\Release-Signed\SevenZipSharp.dll" KeyPath="yes"/>
      </Component>
      <Component Id="ICSharpCodeSharpZipLibDLLComp" Guid="20A7A6A6-3D41-4FAE-A2F5-C494EAF5705D">
        <File Id="ICSharpCodeSharpZipLibDLL" Name="ICSharpCode.SharpZipLib.dll" Source="..\Pscx\bin\Release-Signed\ICSharpCode.SharpZipLib.dll" KeyPath="yes"/>
      </Component>
      <Component Id="InteropMicrosoftFeedsInteropDLLComp" Guid="76AD2D33-ACF1-4BF3-8817-10BDC5281F1F">
        <File Id="InteropMicrosoftFeedsInteropDLL" Name="Interop.Microsoft.Feeds.Interop.dll" Source="..\Pscx\bin\Release-Signed\Interop.Microsoft.Feeds.Interop.dll" KeyPath="yes"/>
      </Component>
      <Component Id="PowerCollectionsDLLComp" Guid="D3018461-4069-4D28-8797-012CD6312538">
        <File Id="PowerCollectionsDLL" Name="PowerCollections.dll" Source="..\Pscx\bin\Release-Signed\PowerCollections.dll" KeyPath="yes"/>
      </Component>
      <Component Id="TrinetCoreIONtfsDLLComp" Guid="980E37BE-68AD-466B-822C-D75FD2E72FFA">
        <File Id="TrinetCoreIONtfsDLL" Name="Trinet.Core.IO.Ntfs.dll" Source="..\Pscx\bin\Release-Signed\Trinet.Core.IO.Ntfs.dll" KeyPath="yes"/>
      </Component>
      <Component Id="MiscFilesComp" Guid="D2A4FAAF-F1AB-47D2-B065-F67C492F7D49">
        <File Id="PscxUserPreferencesPS1" Name="Pscx.UserPreferences.ps1" Source="..\Pscx\Pscx.UserPreferences.ps1" KeyPath="yes"/>
        <File Id="ReleaseNotesTXT" Name="ReleaseNotes.txt" Source="..\..\ReleaseNotes.txt"/>
        <File Id="AboutPscxTXT" Name="about_Pscx.help.txt" Source="..\Pscx\bin\Release-Signed\about_Pscx.help.txt"/>
        <File Id="PscxHelpXML" Name="Pscx.dll-Help.xml" Source="..\Pscx\bin\Release-Signed\Pscx.dll-Help.xml"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductAppComponents" Directory="APPSFOLDER">
      <Component Id="EchoArgsAppComp" Guid="86F7BF25-F2AE-4270-A9B1-E7772FD50556">
        <File Id="EchoArgsEXE" Name="EchoArgs.exe" Source="..\EchoArgs\bin\Release-Signed\EchoArgs.exe" KeyPath="yes"/>
      </Component>
      <Component Id="LessAppComp" Guid="E2684374-710E-45EE-91CB-D6998638CF3E">
        <File Id="lessEXE" Name="less.exe" Source="..\Pscx\bin\Release-Signed\Apps\less.exe" KeyPath="yes"/>
      </Component>
      <Component Id="LessKeyAppComp" Guid="93A1FAC6-8BE5-45AE-8F3C-AA3150C1D5CF">
        <File Id="lessKeyEXE" Name="lesskey.exe" Source="..\Pscx\bin\Release-Signed\Apps\lesskey.exe" KeyPath="yes"/>
      </Component>
      <Component Id="LessAppDocsComp" Guid="5F7BEDD1-B254-4417-ACF8-0645EA53BF22">
        <File Id="lessMAN"    Name="less.man"    Source="..\Pscx\bin\Release-Signed\Apps\less.man" KeyPath="yes"/>
      </Component>
      <Component Id="LessKeyAppDocsComp" Guid="EA5B7A29-D48F-4A17-9593-349F79EB947E">
        <File Id="lessKeyMAN" Name="lesskey.man" Source="..\Pscx\bin\Release-Signed\Apps\lesskey.man" KeyPath="yes"/>
      </Component>
      <Component Id="LessMiscFilesComp" Guid="047C5456-A9B4-42C5-9DED-DD2A43783FD8">
        <File Id="COPYING"    Name="COPYING.txt" Source="..\Pscx\bin\Release-Signed\Apps\COPYING" />
        <File Id="LICENSE"    Name="LICENSE.txt" Source="..\Pscx\bin\Release-Signed\Apps\LICENSE" KeyPath="yes" />
        <File Id="NEWS"       Name="NEWS.txt"    Source="..\Pscx\bin\Release-Signed\Apps\NEWS" />
        <File Id="README"     Name="README.txt"  Source="..\Pscx\bin\Release-Signed\Apps\README" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductFormatDataComponents" Directory="FORMATDATAFOLDER">
      <Component Id="PscxArchiveFormatPS1XMLComp" Guid="AC459106-F85A-4651-875E-C952E2823B40">
        <File Id="PscxArchiveFormatPS1XML" Name="Pscx.Archive.Format.ps1xml" Source="..\Pscx\bin\Release-Signed\FormatData\Pscx.Archive.Format.ps1xml" KeyPath="yes" />
      </Component>
      <Component Id="PscxEnvironmentFormatPS1XMLComp" Guid="12A522BF-3525-4FF4-AD2C-4CE42C381DAB">
        <File Id="PscxEnvironmentFormatPS1XML" Name="Pscx.Environment.Format.ps1xml" Source="..\Pscx\bin\Release-Signed\FormatData\Pscx.Environment.Format.ps1xml" KeyPath="yes" />
      </Component>
      <Component Id="PscxFeedStoreFormatPS1XMLComp" Guid="94E816F6-F333-4385-B0F9-F4BAF0E1DEFB">
        <File Id="PscxFeedStoreFormatPS1XML" Name="Pscx.FeedStore.Format.ps1xml" Source="..\Pscx\bin\Release-Signed\FormatData\Pscx.FeedStore.Format.ps1xml" KeyPath="yes" />
      </Component>
      <Component Id="PscxFormatPS1XMLComp" Guid="{0FE95670-F3E6-4967-9B06-E85442BD5CBB}">
        <File Id="PscxFormatPS1XML" Name="Pscx.Format.ps1xml" Source="..\Pscx\bin\Release-Signed\FormatData\Pscx.Format.ps1xml" KeyPath="yes"/>
      </Component>
      <Component Id="PscxSecurityFormatPS1XMLComp" Guid="6D1961AB-E2F6-45EF-BBB3-2AD090ECC53A">
        <File Id="PscxSecurityFormatPS1XML" Name="Pscx.Security.Format.ps1xml" Source="..\Pscx\bin\Release-Signed\FormatData\Pscx.Security.Format.ps1xml" KeyPath="yes" />
      </Component>
      <Component Id="PscxSIUnitsFormatPS1XMLComp" Guid="00AD4B00-411B-42A4-A9A5-05D7ED090169">
        <File Id="PscxSIUnitsFormatPS1XML" Name="Pscx.SIUnits.Format.ps1xml" Source="..\Pscx\bin\Release-Signed\FormatData\Pscx.SIUnits.Format.ps1xml" KeyPath="yes" />
      </Component>
      <Component Id="PscxTerminalServicesFormatPS1XMLComp" Guid="40A92E7B-11EB-4DFE-BE2C-F4359DA5E957">
        <File Id="PscxTerminalServicesFormatPS1XML" Name="Pscx.TerminalServices.Format.ps1xml" Source="..\Pscx\bin\Release-Signed\FormatData\Pscx.TerminalServices.Format.ps1xml" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductTypeDataComponents" Directory="TYPEDATAFOLDER">
      <Component Id="PscxArchiveTypePS1XMLComp" Guid="8DF9183C-5088-4683-BB30-394C2E711B25">
        <File Id="PscxArchiveTypePS1XML" Name="Pscx.Archive.Type.ps1xml" Source="..\Pscx\bin\Release-Signed\TypeData\Pscx.Archive.Type.ps1xml" KeyPath="yes" />
      </Component>
      <Component Id="PscxFeedStoreTypePS1XMLComp" Guid="78703D35-E56F-4E0F-BF1B-3590C60298CB">
        <File Id="PscxFeedStoreTypePS1XML" Name="Pscx.FeedStore.Type.ps1xml" Source="..\Pscx\bin\Release-Signed\TypeData\Pscx.FeedStore.Type.ps1xml" KeyPath="yes" />
      </Component>
      <Component Id="PscxReflectionTypePS1XMLComp" Guid="86717578-6239-4DC6-AE62-939247914F74">
        <File Id="PscxReflectionTypePS1XML" Name="Pscx.Reflection.Type.ps1xml" Source="..\Pscx\bin\Release-Signed\TypeData\Pscx.Reflection.Type.ps1xml" KeyPath="yes" />
      </Component>
      <Component Id="PscxSIUnitsTypePS1XMLComp" Guid="26D72C18-49D6-4AB7-A943-142A3E6FE6A1">
        <File Id="PscxSIUnitsTypePS1XML" Name="Pscx.SIUnits.Type.ps1xml" Source="..\Pscx\bin\Release-Signed\TypeData\Pscx.SIUnits.Type.ps1xml" KeyPath="yes" />
      </Component>
      <Component Id="PscxTerminalServicesTypePS1XMLComp" Guid="FC3A33CD-37A0-4ABB-8B76-81308DE2838E">
        <File Id="PscxTerminalServicesTypePS1XML" Name="Pscx.TerminalServices.Type.ps1xml" Source="..\Pscx\bin\Release-Signed\TypeData\Pscx.TerminalServices.Type.ps1xml" KeyPath="yes" />
      </Component>
      <Component Id="PscxWmiTypePS1XMLComp" Guid="D902ED15-1E10-4BA1-90FE-E4CCD02E077E">
        <File Id="PscxWmiTypePS1XML" Name="Pscx.Wmi.Type.ps1xml" Source="..\Pscx\bin\Release-Signed\TypeData\Pscx.Wmi.Type.ps1xml" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductCDModuleComponents" Directory="CDMODULEFOLDER">
      <Component Id="PscxCDPSM1Comp" Guid="30BA1CF3-4BCC-4711-9292-D328C8181AC3">
        <File Id="PscxCDPSM1"   Name="Pscx.CD.psm1"  Source="..\Pscx\bin\Release-Signed\Modules\CD\Pscx.CD.psm1" KeyPath="yes" />
      </Component>
      <Component Id="MessagesPSD1Comp" Guid="025A9D46-3BC9-40B2-B21F-520744214B42">
        <File Id="MessagesPSD1" Name="Messages.psd1" Source="..\Pscx\bin\Release-Signed\Modules\CD\Messages.psd1" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductDirectoryServicesModuleComponents" Directory="DIRECTORYSERVICESMODULEFOLDER">
      <Component Id="PscxDirectoryServicesPSD1Comp" Guid="BAA8B508-C1A0-461D-80E4-3B6945F7CED8">
        <File Id="PscxDirectoryServicesPSD1" Name="Pscx.DirectoryServices.psd1" Source="..\Pscx\bin\Release-Signed\Modules\DirectoryServices\Pscx.DirectoryServices.psd1" KeyPath="yes" />
      </Component>
      <Component Id="PscxDirectoryServicesFormatPS1XMLComp" Guid="79355005-4F1D-4E36-B9C2-5148639B24C3">
        <File Id="PscxDirectoryServicesFormatPS1XML" Name="Pscx.DirectoryServices.Format.ps1xml" Source="..\Pscx\bin\Release-Signed\Modules\DirectoryServices\Pscx.DirectoryServices.Format.ps1xml" KeyPath="yes" />
      </Component>
      <Component Id="PscxDirectoryServicesTypePS1XMLComp" Guid="462FF949-C161-4224-BE6C-41EEE005126E">
        <File Id="PscxDirectoryServicesTypePS1XML" Name="Pscx.DirectoryServices.Type.ps1xml" Source="..\Pscx\bin\Release-Signed\Modules\DirectoryServices\Pscx.DirectoryServices.Type.ps1xml" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductFileSystemModuleComponents" Directory="FILESYSTEMMODULEFOLDER">
      <Component Id="PscxFileSystemPSD1Comp" Guid="727C74F4-A07B-41F9-BDBF-69C770195056">
        <File Id="PscxFileSystemPSD1" Name="Pscx.FileSystem.psd1" Source="..\Pscx\bin\Release-Signed\Modules\FileSystem\Pscx.FileSystem.psd1" KeyPath="yes" />
      </Component>
      <Component Id="PscxFileSystemPSM1Comp" Guid="309A0241-8734-45A1-969D-694623E5289E">
        <File Id="PscxFileSystemPSM1" Name="Pscx.FileSystem.psm1" Source="..\Pscx\bin\Release-Signed\Modules\FileSystem\Pscx.FileSystem.psm1" KeyPath="yes" />
      </Component>
      <Component Id="PscxFileSystemFormatPS1XMLComp" Guid="E772F91F-523E-4D56-B513-7131F7FBF0DB">
        <File Id="PscxFileSystemFormatPS1XML" Name="Pscx.FileSystem.Format.ps1xml" Source="..\Pscx\bin\Release-Signed\Modules\FileSystem\Pscx.FileSystem.Format.ps1xml" KeyPath="yes" />
      </Component>
      <Component Id="PscxFileSystemFormat50PS1XMLComp" Guid="714BE188-7B80-4279-9D17-BFBD3703F492">
        <File Id="PscxFileSystemFormat50PS1XML" Name="Pscx.FileSystem.Format.5.0.ps1xml" Source="..\Pscx\bin\Release-Signed\Modules\FileSystem\Pscx.FileSystem.Format.5.0.ps1xml" KeyPath="yes" />
      </Component>
      <Component Id="PscxFileSystemTypePS1XMLComp" Guid="C00C78BC-4CF5-47EA-AE0E-1F559ADA3997">
        <File Id="PscxFileSystemTypePS1XML" Name="Pscx.FileSystem.Type.ps1xml" Source="..\Pscx\bin\Release-Signed\Modules\FileSystem\Pscx.FileSystem.Type.ps1xml" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductGetHelpModuleComponents" Directory="GETHELPMODULEFOLDER">
      <Component Id="PscxGetHelpPSM1Comp" Guid="1A68F048-79FE-4302-9024-4D22B10C9DA2">
        <File Id="PscxGetHelpPSM1" Name="Pscx.GetHelp.psm1" Source="..\Pscx\bin\Release-Signed\Modules\GetHelp\Pscx.GetHelp.psm1" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductNetModuleComponents" Directory="NETMODULEFOLDER">
      <Component Id="PscxNetPSD1Comp" Guid="9337A34D-299F-4165-85C9-AE095A3892B1">
        <File Id="PscxNetPSD1" Name="Pscx.Net.psd1" Source="..\Pscx\bin\Release-Signed\Modules\Net\Pscx.Net.psd1" KeyPath="yes" />
      </Component>
      <Component Id="PscxNetFormatPS1XMLComp" Guid="943AD484-6C22-4598-8C43-303847A0B582">
        <File Id="PscxNetFormatPS1XML" Name="Pscx.Net.Format.ps1xml" Source="..\Pscx\bin\Release-Signed\Modules\Net\Pscx.Net.Format.ps1xml" KeyPath="yes" />
      </Component>
      <Component Id="PscxNetTypePS1XMLComp" Guid="0F96B597-CB51-4070-82FF-018CBE39EDCA">
        <File Id="PscxNetTypePS1XML" Name="Pscx.Net.Type.ps1xml" Source="..\Pscx\bin\Release-Signed\Modules\Net\Pscx.Net.Type.ps1xml" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductPromptModuleComponents" Directory="PROMPTMODULEFOLDER">
      <Component Id="PscxPromptModule" Guid="EFCED67B-ADA7-42BB-A3FE-8BD107937858">
        <File Id="PscxPromptPSM1" Name="Pscx.Prompt.psm1" Source="..\Pscx\bin\Release-Signed\Modules\Prompt\Pscx.Prompt.psm1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductPromptThemesModuleComponents" Directory="PROMPTTHEMESMODULEFOLDER">
      <Component Id="JachymPS1Comp" Guid="B47C84B1-EE46-4B3C-ABC1-64FEFDABF838">
        <File Id="JachymPS1" Name="Jachym.ps1" Source="..\Pscx\bin\Release-Signed\Modules\Prompt\Themes\Jachym.ps1" KeyPath="yes"/>
      </Component>
      <Component Id="ModernPS1Comp" Guid="1603D836-9DA4-4242-A86D-C6AF404BD321">
        <File Id="ModernPS1" Name="Modern.ps1" Source="..\Pscx\bin\Release-Signed\Modules\Prompt\Themes\Modern.ps1" KeyPath="yes"/>
      </Component>
      <Component Id="WinXPPS1Comp" Guid="BFB7728E-7B65-4D94-80DC-B047B5225DF4">
        <File Id="WinXPPS1" Name="WinXP.ps1" Source="..\Pscx\bin\Release-Signed\Modules\Prompt\Themes\WinXP.ps1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductTranscribeSessionModuleComponents" Directory="TRANSCRIBESESSIONMODULEFOLDER">
      <Component Id="PscxTranscribeSessionPSM1Comp" Guid="089B5D40-EF45-4DF5-9B3D-994262F37B58">
        <File Id="PscxTranscribeSessionPSM1" Name="Pscx.TranscribeSession.psm1" Source="..\Pscx\bin\Release-Signed\Modules\TranscribeSession\Pscx.TranscribeSession.psm1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductUtilityModuleComponents" Directory="UTILITYMODULEFOLDER">
      <Component Id="PscxUtilityPSM1Comp" Guid="C8F4D611-F894-47E9-99EF-5A21646F8A60">
        <File Id="PscxUtilityPSM1" Name="Pscx.Utility.psm1" Source="..\Pscx\bin\Release-Signed\Modules\Utility\Pscx.Utility.psm1" KeyPath="yes"/>
      </Component>
      <Component Id="PscxUtilityPSD1Comp" Guid="CF5262A6-E7DC-4602-8D9E-CBCEB5DBCDC3">
        <File Id="PscxUtilityPSD1" Name="Pscx.Utility.psd1" Source="..\Pscx\bin\Release-Signed\Modules\Utility\Pscx.Utility.psd1" KeyPath="yes"/>
      </Component>
      <Component Id="PscxUtilityFormatPS1XMLComp" Guid="2C73D66D-D206-4D48-95FD-AE1CFC89939E">
        <File Id="PscxUtilityFormatPS1XML" Name="Pscx.Utility.Format.ps1xml" Source="..\Pscx\bin\Release-Signed\Modules\Utility\Pscx.Utility.Format.ps1xml" KeyPath="yes"/>
      </Component>

    </ComponentGroup>

    <ComponentGroup Id="ProductVhdModuleComponents" Directory="VHDMODULEFOLDER">
      <Component Id="PscxVhdPSM1Comp" Guid="293848B7-CA93-4ADD-BA65-81FE24A7D5B7">
        <File Id="PscxVhdPSM1" Name="Pscx.Vhd.psm1" Source="..\Pscx\bin\Release-Signed\Modules\Vhd\Pscx.Vhd.psm1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProductWmiModuleComponents" Directory="WMIMODULEFOLDER">
      <Component Id="PscxWmiPSM1Comp" Guid="ADF7DB13-7566-4539-930D-29C99FFE9991">
        <File Id="PscxWmiPSM1" Name="Pscx.Wmi.psm1" Source="..\Pscx\bin\Release-Signed\Modules\Wmi\Pscx.Wmi.psm1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>